body {
    display: none;
}

h1 {
    text-align: center;
    font-size: 18px;
    color: #1da1f2;
}

ul {
    padding-left: 20px;
    list-style-type: none;
}

li:before {
    content: "\00bb  ";
}

a.delete {
    text-decoration: none;
    color: #e72965;
}

a.delete:hover{
    color: #e0245e;
}

#add-form {
    margin-bottom: 15px;
}

#warning-text {
    color: #e0245e;
}
