body {
    display: none;
    margin: 2.4em;
    background-color: #1c2938;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    color: #1da1f2;
}

input[type="text"]
{
    width: 11em;
    height: 1.8em;
    background-color: #10171e;
    border: none;
    color: #fff;
}

input:focus{
    outline: #1a85c7;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

li {
    font-size: 1em;
    color: #8899a6;
}

li:before {
    content: "\00bb  ";
}

a.delete {
    text-decoration: none;
    color: #e72965;
}

a.delete:hover{
    color: #e0245e;
}

#add-form {
    margin-bottom: 15px;
}

#warning-text {
    color: #e0245e;
}
